<section id="gigs" class="container">
  <h1>All Jobs</h1>

  {{#each jobs}}
    <div class="gig">
      <h3>{{dataValues.job_title}}</h3>
      <p>{{dataValues.description}}</p>
      <ul>
        <li>Budget: {{dataValues.budget}}</li>
        <li><a
            href="mailto:{{dataValues.contact_email}}"
            class="btn btn-reverse"
          >Apply Now</a></li>
      </ul>
      <div class="tech">
        <small>Skills Needed:
          <span>{{dataValues.job_type}}</span></small>
      </div>
    </div>
  {{else}}
    <p>no Jobs available</p>
  {{/each}}

</section>